.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  .Burger {
    background-color: transparent;
    &:hover,
    &:active {
      background-color: $dark-background-color-2;
    }
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    & > div {
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: $dark-text-color;
      width: 2rem;
      transform-origin: center;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    &.active {
      & > div {
        transform: rotateZ(45deg);
        &:not(:last-child) {
          margin-bottom: -0.2rem;
          transform: rotateZ(-45deg);
        }
      }
    }
  }
  .Links {
    display: none;
  }
  .Colormode {
    background-color: transparent;
    &:hover,
    &:active {
      background-color: $dark-background-color-2;
    }
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: $dark-text-color;
  }
}

.light {
  .Navbar {
    .Burger {
      &:hover,
      &:active {
        background-color: $light-background-color-2;
      }
      & > div {
        background-color: $light-text-color;
      }
    }
    .Links {
      .link {
        &:link,
        &:visited {
          color: $light-text-color;
          &:hover,
          &:active,
          &.active {
            background-color: $light-background-color-2;
          }
        }
      }
    }
    .Colormode {
      &:hover,
      &:active {
        background-color: $light-background-color-2;
      }
      color: $light-text-color;
    }
  }
}

@include phone {
  .Navbar {
    height: $navbar-height;
  }
}

@include tablet {
  .Navbar {
    .Burger {
      display: none;
    }
    .Links {
      display: flex;
      gap: 2.5rem;
      .link {
        &:link,
        &:visited {
          display: block;
          color: $dark-text-color;
          font-size: 1.7rem;
          text-transform: capitalize;
          text-decoration: none;
          padding: 1rem;
          border-radius: 0.5rem;
          &:hover,
          &:active,
          &.active {
            background-color: $dark-background-color-2;
          }
        }
      }
    }
  }
}
