.Sidebar {
  height: calc(100vh - $navbar-height);
  position: fixed;
  top: $navbar-height;
  left: -100%;
  width: 100vw;
  z-index: 100;
  background-color: $dark-background-color;
  &.active {
    left: 0;
  }
}

.light {
  .Sidebar {
    background-color: $light-background-color;
  }
}

@include tablet {
  .Sidebar {
    display: none;
  }
}
