.FourZeroFour {
  display: flex;
  height: calc(100vh - (17rem + #{$footer-height}));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
