.Articles {
  .input {
    background-color: $dark-background-color-2;
    display: block;
    margin: 1rem auto;
    color: inherit;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    width: calc(100vw - 5rem);
    max-width: 60rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(black, 0.2);
  }
  .heading {
    margin-top: 1rem;
    font-size: 3.5rem;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    word-break: break-all;
  }
  .posts {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.light {
  .Articles {
    .input {
      background-color: $light-background-color-2;
    }
  }
}

@include tablet {
  .Articles {
    .posts {
      grid-template-columns: 1fr 1fr;
    }
  }
}
