.Home {
  .Heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    .intro {
      h1 {
        font-size: 3rem;
        text-transform: capitalize;
      }
      h2 {
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 1.8rem;
      }
      .about {
        margin-top: 2rem;
        font-size: 1.8rem;
        color: #888;
        line-height: 2.3rem;
        b {
          color: $dark-text-color;
        }
      }
    }
    .image {
      height: 15rem;
      width: 15rem;
      overflow: hidden;
      border-radius: 50%;
      border: 0.3rem solid $primary-color;
      padding: 0.5rem;
      align-self: center;
      img {
        border-radius: 50%;
      }
    }
  }
  .section {
    margin-bottom: 6rem;
    & > h1 {
      text-align: center;
      font-size: 3rem;
      text-transform: capitalize;
      margin-bottom: 2rem;
    }
  }
  .WhatIDo {
    margin-top: 8rem;
    .Talents {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
      .talent {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 2rem 4rem rgba(black, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 1rem;
        transition: $transition-slow;
        &:hover {
          .image {
            transform: scale(1.2);
          }
        }
        .image {
          height: 12rem;
          width: 12rem;
        }
        h3 {
          font-size: 2rem;
          text-transform: capitalize;
        }
        p {
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: #ccc;
        }
        .code {
          font-size: 1.4rem;
        }
      }
    }
  }
  .About {
    .story {
      margin: 0 auto;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  .Spotify {
    .container {
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 0 1rem 2rem rgba(black, 0.3);
    }
  }
  .Contact {
    text-align: center;
    h2 {
      font-size: 2rem;
    }
    .calendly {
      display: block;
      &:link,
      &:visited {
        color: #333;
        text-decoration: none;
      }
      background-color: $primary-color;
      width: fit-content;
      padding: 1rem 3rem;
      margin: 2rem auto;
      font-size: 1.6rem;
      border-radius: 0.5rem;
      font-weight: 600;
      &:hover {
        transform: scale(1.06);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    .Social {
      margin-top: 1rem;
      p {
        font-size: 1.7rem;
      }
      .socials {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        a {
          &:link,
          &:visited {
            font-size: 3rem;
            color: inherit;
          }
        }
      }
    }
  }
  .Github {
    .loader {
      display: flex;
      font-size: 5rem;
      align-items: center;
      justify-content: center;
    }
    .error {
      h4 {
        font-size: 2rem;
        text-align: center;
        color: $danger-color;
      }
    }
    .Repos {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}

.light {
  .Home {
    .Heading {
      .intro {
        .about {
          b {
            color: $light-text-color;
          }
        }
      }
      .image {
        border-color: $primary-color-2;
      }
    }
    .Contact {
      .calendly {
        background-color: $primary-color-2;
        &:link,
        &:visited {
          color: white;
        }
      }
    }
    .Talents {
      .talent {
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
        p {
          color: #333;
        }
      }
    }
    .Spotify {
      .container {
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
      }
    }
  }
}

@include tablet {
  .Home {
    padding-top: 4rem;
    .Heading {
      flex-direction: row;
      align-items: center;
      .intro {
        width: 65%;
        order: 1;
      }
      .image {
        order: 2;
        height: 20rem;
        width: 20rem;
      }
    }
    .WhatIDo {
      .Talents {
        grid-template-columns: 1fr 1fr;
      }
    }
    .Github {
      .Repos {
        grid-template-columns: 1fr 1fr;
        .Repo {
          position: relative;
          justify-content: center;
          .description {
            margin-bottom: 3.5rem;
          }
          .bottom {
            padding: 0 2rem;
            position: absolute;
            bottom: 2rem;
            left: 0;
          }
        }
      }
    }
  }
}
