.Home {
  .Heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    .intro {
      h1 {
        font-size: 3rem;
        text-transform: capitalize;
      }
      h2 {
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 1.8rem;
      }
      .about {
        margin-top: 2rem;
        font-size: 1.8rem;
        color: #888;
        b {
          color: $dark-text-color;
        }
      }
    }
    .image {
      height: 15rem;
      width: 15rem;
      overflow: hidden;
      border-radius: 50%;
      border: 0.3rem solid $primary-color;
      padding: 0.5rem;
      align-self: center;
      img {
        border-radius: 50%;
      }
    }
  }
  .WhatIDo {
    margin-top: 8rem;
    h1 {
      text-align: center;
      font-size: 3rem;
      text-transform: capitalize;
    }
  }
}

.light {
  .Home {
    .Heading {
      .intro {
        .about {
          b {
            color: $light-text-color;
          }
        }
      }
      .image {
        border-color: $primary-color-2;
      }
    }
  }
}

@include tablet {
  .Home {
    padding-top: 4rem;
    .Heading {
      flex-direction: row;
      align-items: center;
      .intro {
        width: 65%;
        order: 1;
      }
      .image {
        order: 2;
        height: 20rem;
        width: 20rem;
      }
    }
  }
}
