$light-background-color: #fff;
$light-background-color-2: #ddd;
$dark-background-color: #151515;
$dark-background-color-2: #232323;
$light-text-color: #000;
$dark-text-color: #fff;

$transition-fast: all 100ms ease;
$transition-mid: all 200ms ease;
$transition-slow: all 400ms ease;

$navbar-height: 10rem;
$footer-height: 5rem;
